body,html{
	background:#222;
	color:#fff;
	margin:0;
    overflow:hidden;
	padding:0;
}

#construction{
	font-family:monospace;
	height:100vh;
	position:absolute;
	width:100vw;
}
#construction.active{
	display:inline-block;
	height:auto;
	left:50%;
	width:auto;
}
#fly{
	left:50%;
	position:absolute;
	top:90%;
}
.particle{
	color:#ff0;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
}