body,html{
	background:#222;
	color:#fff;
	margin:0;
    overflow:hidden;
	padding:0;
}

#background {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,transparent), color-stop(100%,#7db9e8));
    bottom: 0;
    display: none;
    height: 500%;
    left: 0;
    position: absolute;
    width: 100%;
}
#background.show {
    display: block;
}
#construction{
	font-family:monospace;
	height:100vh;
	position:absolute;
	width:100vw;
}
#construction.active{
	display:inline-block;
	height:auto;
	left:50%;
	width:auto;
}
#fly{
	left:50%;
	position:absolute;
	top:90%;
}
.particle{
	color:#ff0;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
}